
/* Colour scheme  */


.bg-primary {
    background-color: rgb(125,95,108,49) !important;
} 
.bg-secondary {
    background-color: rgb(223,222,216,87) !important;
} 
.bg-danger{
    background-color: rgb(255,232,232,100) !important;
}
.text-primary{
    color: rgb(125,95,108,49) !important;
}

/* Border Fade */
@mixin border-fade {
	$borderWidth: 4px;

	@include hacks();
	@include prefixed(transition-duration, $mediumDuration);
	@include prefixed(transition-property, box-shadow);
	box-shadow:
			inset 0 0 0 $borderWidth $primaryColor,
			0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */

	&:hover,
	&:focus,
	&:active {
		box-shadow:
			inset 0 0 0 $borderWidth $activeColor,
			0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */
	}
}

/* for the back to top link  */
.fa-custom {
	font-size: 6rem;
}


/* for the skip link  */
.fa-customm {
	font-size: 1.5rem;
}

/* footer  */
.logo-container {
	float: left;
  }



.carousel-caption{
	position: absolute;
	top: 30%;
} 




/* next and pevious icon  */
.carousel-control-next-icon {
	padding-bottom: 22rem!important;
}

.carousel-control-prev-icon {
	padding-bottom: 22rem!important;
}


/* :root {
    --bs-breakpoint-sm: 320px;
    --bs-breakpoint-md: 750px;
    --bs-breakpoint-lg: 1000px;
} */






/* font-family: 'Akatab', sans-serif; */




/* tablet  */

@media screen and (min-width: 750px) {

}



.skills{
	box-shadow: 0 0.25rem 1rem #0002;
	border-success: black !important;
}
.fa-circle-arrow-right{
	font-size: 3rem;
}
.border-success{
    color: black !important;
}


















