
/* Colour scheme  */


.bg-primary {
    background-color: rgb(125,95,108,49) !important;
} 
.bg-secondary {
    background-color: rgb(223,222,216,87) !important;
} 
.bg-danger{
    background-color: rgb(255,232,232,100) !important;
}
.text-primary{
    color: rgb(125,95,108,49) !important;
}

.send-contact{
	border: 5px solid #48444e;
	background: white;
	transition: 1s;
}

.send-contact:hover {
	background: #d6d6d6;
}

/* for the back to top link  */
.fa-custom {
	font-size: 5rem;
}


/* for the skip link  */
.fa-customm {
	font-size: 1.5rem;
}

/* footer  */

.carousel-caption{
	position: absolute;
	top: 40%;

} 
.carousel-caption-skip{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	bottom: 50px;
	z-index: 9;
} 




/* next and pevious icon  */
.carousel-control-next-icon {
	padding-bottom: 22rem!important;
}

.carousel-control-prev-icon {
	padding-bottom: 22rem!important;
}


/* font-family: 'Akatab', sans-serif; */



.skills{
	box-shadow: 0 0.25rem 1rem #002;
	border-success: rgb(89, 89, 89) !important;
}
.fa-circle-arrow-right{
	font-size: 3rem;
}
.border-success{
    color: black !important;
}


.fa-circle-arrow-right{
color: #d2beef;
}

#logo-footer{
	width :70px;
	height :70px;
}













