/* general  */



/* Colour scheme  */
.bg-primary {
    background-color: rgb(125,95,108,49) !important;
} 
.bg-secondary {
    background-color: rgb(223,222,216,87) !important;
} 
.bg-danger{
    background-color: rgb(255,232,232,100) !important;
}
.text-primary{
    color: rgb(125,95,108,49) !important;
}
.bg-warning{
    background-color: rgb(136, 177, 136) !important;
}
.bg-info{
    background-color:#d9d5e0 !important;
}

/* footer logo  */
#logo-footer{
	width :50px;
	height :50px;
}

/* hamburger  */
.fa-bars{
	font-size: 1.5rem;
}

/* footer social links  */
.brands{
	font-size: 1.5rem;
}

/* navigation offcanvas  */
.offcanvas{
	width: 100px; 
	height: 400px;
}
/* for the skip link  */
.fa-customm {
	font-size: 1.5rem;
}

/* slideshow caption  */
.carousel-caption{
	position: absolute;
	top: 40%;
}

/* slideshow caption skip link */
.carousel-caption-skip{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	bottom: 50px;
	z-index: 9;
} 

/* next and pevious icon  */
.carousel-control-next-icon {
	padding-bottom: 22rem!important;
}

.carousel-control-prev-icon {
	padding-bottom: 22rem!important;
}

/* font for slideshow caption   */
.identity p{
	font-family: 'Quicksand', sans-serif;
}


/* button hover  */
.send-contact{
	border: 5px solid #48444e;
	background: white;
	transition: 1s;
	box-shadow: 0 0.25rem 1rem #002;
}

.send-contact:hover {
	background: #f2e1f8;
	box-shadow: 0 0.15rem 1rem #002;
}

/* style for body text   */
body{
  font-family: 'Akatab', sans-serif; 
}

.border-success{
    color: black !important;
}











/* work page  */

/* for the back to top link  */
.fa-custom {
	font-size: 5rem;
}

/* read more card  */
.col .top_card{
   min-height: 120px;
}
.collapse .card{
	width: 300px;
}

/* shadows for card skills  */
.card{
	box-shadow: 0 0.15rem 1rem #002;
	border-success: rgb(89, 89, 89) !important;
}

.skills{
	box-shadow: 0 0.15rem 1rem #002;
	border-success: rgb(89, 89, 89) !important;
}

/* skip link  */
.fa-circle-arrow-right{
	font-size: 3rem;
	color: #d2beef;
	font-size: 2rem;
}











/* contact page  */

/* shadow for contact form */
.form-control{
	box-shadow: 0 0.15rem 1rem #002;	
}

























